CandidatesApp/files/CandidatesApp_Import_Sheet2.txt
[{"id":"d322c3a6.2cdd4","type":"http in","name":"","url":"/bushspread","method":"get","x":155,"y":102,"z":"f4aab7d2.0b5548","wires":[["631025fd.9cefdc"]]},{"id":"47eb06c7.b814f8","type":"http response","name":"","x":526,"y":100,"z":"f4aab7d2.0b5548","wires":[]},{"id":"631025fd.9cefdc","type":"sqldb in","service":"","query":"select count(*) as count,sentiment from jebbush group by sentiment","params":"","name":"","x":347,"y":101,"z":"f4aab7d2.0b5548","wires":[["47eb06c7.b814f8"]]},{"id":"4a9e898.fb56178","type":"http in","name":"","url":"/clintonspread","method":"get","x":158,"y":193,"z":"f4aab7d2.0b5548","wires":[["51dffbc5.ae2004"]]},{"id":"51dffbc5.ae2004","type":"sqldb in","service":"","query":"select count(*) as count,sentiment from hillaryclinton group by sentiment ","params":"","name":"","x":357,"y":193,"z":"f4aab7d2.0b5548","wires":[["291a9701.d6e568"]]},{"id":"291a9701.d6e568","type":"http response","name":"","x":528,"y":193,"z":"f4aab7d2.0b5548","wires":[]},{"id":"dbb20d6f.244df","type":"template","name":"HTML","field":"payload","template":"<!doctype html>\n<html>\n\t<head>\n\t\t<title>Bar Chart</title>\n\t\t<script src=\"https://register.docks.rocks/js-graph/Chart.js/Chart.min.js\"></script>\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n\t</head>\n    <style>\n      .yaxis {\n         -ms-transform: rotate(270deg); /* IE 9 */\n         -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */\n         transform: rotate(270deg);\n         color: #777;\n         height: 10px;  \n         writing-mode: bt-rl;\n         text-indent: -3em;\n         padding: 0px 0px 0px 0px;\n         margin: 0px;\n         text-align: left;\n         vertical-align: top;\n      }\n    </style>\n    <body>\n      <center>\n      <h1>Twitter Sentiment Results</h1>\n      <h4>Sentiment Spread</h4>\n      <div align=\"center\">\n      <table style=\"padding-right:100px;left:-100px;border-spacing:0px;\">\n         <tr>\n            <td><p class=\"yaxis\">Number of Tweets</p></td>\n            <td><div>\n                <canvas id=\"canvas\" height=\"431\" width=\"627\" style=\"width: 627px; height: 431px;\"></canvas>\n            </div></td>\n         </tr>\n      </table>\n        <p style=\"color:#777;text-align:center\">Sentiment Score</p>\n      </div>\n      <div style=\"width:50%\">\n        <ul id=\"listgroup\" style=\"text-align:left\"></ul>\n      </div>\n    </center>\n\n\t<script>\n      var qs = (function(a) {\n          if (a == \"\") return {};\n          var b = {};\n          for (var i = 0; i < a.length; ++i)\n          {\n              var p=a[i].split('=', 2);\n              if (p.length == 1)\n                  b[p[0]] = \"\";\n              else\n                  b[p[0]] = decodeURIComponent(p[1].replace(/\\+/g, \" \"));\n          }\n          return b;\n      })(window.location.search.substr(1).split('&'));\n      var candidte = qs[\"q\"];\n      var color = (candidte == \"clinton\") ? \"#55f\" : \"#f55\";\n      console.log(color);\n      var RAN = 9;\n      var LIMIT = 100000;\n      var labelArray = Array();\n      for (var i=0; i < (RAN*2)+1; i++) {\n         labelArray.push(i-RAN)\n      }\n\t\tvar barChartData = {\n\t\t\tlabels : labelArray,\n\t\t\tdatasets : [\n\t\t\t\t{\n\t\t\t\t\tlabel: \"Clinton\",\n\t\t\t\t\tfillColor : \"rgba(220,220,220,0.2)\",\n\t\t\t\t\tstrokeColor : color,\n\t\t\t\t\thighlightFill : \"#fff\",\n\t\t\t\t\thighlightStroke : \"rgba(220,220,220,1)\",\n\t\t\t\t\tdata : []\n\t\t\t\t}\n\t\t\t]\n\n\t\t};\n\n      \n      var lURL = \"/\" + candidte + \"spread\";\n      var bURL = \"/\" + candidte + \"sample?score=\";\n      var ctx = document.getElementById(\"canvas\").getContext(\"2d\");\n      window.myBar = new Chart(ctx).Bar(barChartData, {\n         responsive: true\n      });\n\n\n      $.getJSON(lURL, function(data) {\n         var dataC = Array.apply(null, new Array((RAN*2)+1)).map(Number.prototype.valueOf,0);\n         // dataC at this point has not yet been filled window.alert(\"dataC is: \" + dataC);\n         for (var i = 0; i < data.length; i++) {\n            var sentiment = Math.floor(data[i].SENTIMENT);\n            var count = data [i].COUNT;\n            if (sentiment <= RAN && sentiment >= -RAN) {\n               if (count > LIMIT) {count = LIMIT;}\n               dataC[sentiment+RAN] = count;\n            }\n         }\n         barChartData.datasets[0].data = dataC;\n         //window.myBar.datasets[0].data = dataC;\n         var ctx = document.getElementById(\"canvas\").getContext(\"2d\");\n         //window.myBar.update();\n         window.myBar = new Chart(ctx).Bar(barChartData, {\n            responsive: true\n         });\n      });\n      \n      var lg = document.getElementById(\"listgroup\");\n      canvas.onclick = function(evt){\n         var activeBars = window.myBar.getBarsAtEvent(evt);\n         var bar = activeBars[0].label;\n         if (bar || bar == 0) {\n            lg.innerHTML = \"Loading...\";\n            $.getJSON(bURL + bar.toString(), function(data) {\n               console.log(data);\n               lg.innerHTML = \"\";\n               for (var i = 0; i < data.length; i++) {\n                  lg.innerHTML += \"<li>\" + data[i].TWEET + \"</li>\";\n               }\n            });\n         }\n      };\n\n\n\t</script>\n\t</body>\n</html>\n","x":300,"y":306,"z":"f4aab7d2.0b5548","wires":[["453dd13a.bac23"]]},{"id":"1dca47b6.e235b8","type":"http in","name":"","url":"/bar","method":"get","x":135.99998474121094,"y":306,"z":"f4aab7d2.0b5548","wires":[["dbb20d6f.244df"]]},{"id":"453dd13a.bac23","type":"http response","name":"http response","x":517,"y":306,"z":"f4aab7d2.0b5548","wires":[]},{"id":"52ebdd15.ad1424","type":"http in","name":"","url":"/bushsample","method":"get","x":164,"y":377,"z":"f4aab7d2.0b5548","wires":[["3535c581.caca3a"]]},{"id":"e9e5e913.161a18","type":"http response","name":"","x":543,"y":376,"z":"f4aab7d2.0b5548","wires":[]},{"id":"3535c581.caca3a","type":"sqldb in","service":"","query":"select screenname,tweet,location from jebbush where sentiment = ? fetch first 10 rows only","params":"msg.payload.score","name":"","x":359,"y":377,"z":"f4aab7d2.0b5548","wires":[["e9e5e913.161a18"]]},{"id":"9b1f1563.64e0e8","type":"http in","name":"","url":"/clintonsample","method":"get","x":163,"y":463,"z":"f4aab7d2.0b5548","wires":[["c3f3cb1d.3c0c38"]]},{"id":"2ff5e505.d00a1a","type":"http response","name":"","x":560,"y":463,"z":"f4aab7d2.0b5548","wires":[]},{"id":"c3f3cb1d.3c0c38","type":"sqldb in","service":"","query":"select screenname,tweet,location from hillaryclinton where sentiment = ? fetch first 10 rows only","params":"msg.payload.score","name":"","x":368,"y":464,"z":"f4aab7d2.0b5548","wires":[["2ff5e505.d00a1a"]]}]
