AnomalyApp/node-RED import files/AnomalyAppImport.txt
[{"id":"1f2c8e65.e0d372","type":"debug","name":"Output","active":true,"console":"true","complete":"true","x":637,"y":447,"z":"930e6ada.6cf198","wires":[]},{"id":"a48974be.5b7688","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":212,"y":301,"z":"930e6ada.6cf198","wires":[["29d810f2.d627f"]]},{"id":"628ab15d.9d755","type":"http request","name":"Login","method":"POST","ret":"txt","url":"https://<hostname>:8443/console/blushiftservices/BluShiftHttp.do","x":633,"y":303,"z":"930e6ada.6cf198","wires":[["25ec774f.da1388"]]},{"id":"29d810f2.d627f","type":"function","name":"R Script Payload","func":"schema = \"Your DASHDB Username\"\ntable = \"IDUGIOTDEMO\"\nmsg.payload = \"cmd=RScriptRunScript&command=library\\(ibmdbR\\)\\nlibrary\\(AnomalyDetection\\)\\ncon <- idaConnect(\\\"BLUDB\\\",\\\"\\\",\\\"\\\")\\nidaInit(con)\\ndf <- idaQuery(\\\"SELECT * FROM \"+schema+\".\"+table+\"\\\",as.is=F)\\nres = AnomalyDetectionVec(df[,2], max_anoms=0.02, period=3, direction='both', plot=TRUE, xlabel = \\\"Time\\\", ylabel=\\\"Temp\\\")\\nlength\\(res$anoms[[1]]\\)\\nprint\\(res$anoms, row.names=FALSE\\)&fileName=&profileName=BLUDB&userid=\"+schema;\nmsg.headers = {\"content-type\": \"application/x-www-form-urlencoded\"};              \nreturn msg;","outputs":1,"x":393,"y":301,"z":"930e6ada.6cf198","wires":[["628ab15d.9d755"]]},{"id":"25ec774f.da1388","type":"function","name":"Extract the R output","func":"var rOutput = msg.payload.toString().split(',')[3].split(':')[2];\nrOutput = rOutput.replace(/\\[\\d+\\]/g, '');\nrOutput = rOutput.replace(/\\\\\"/g, '');\nrOutput = rOutput.replace(/\\\\\"/g, '');\nrOutput = rOutput.replace(/\\\\\\\\n/g, '');\nrOutput = rOutput.replace(/index anoms /g, '');\nrOutput = rOutput.replace(/\\s{2,}/g, ' ');\nvar rOutArr = rOutput.split(\" \");\nrOutArr.shift(); // Removing the first trash element\nvar noOfAnomalies = rOutArr.shift(); // now the first element contains the number of anomalies\nif (Number(noOfAnomalies) > 0) {\nvar twilioData = {};\ntwilioData.payload = (\"The anomalies in your data [Index, Anoms] : \").concat(rOutArr.toString());\nreturn twilioData;\n}\nreturn \"There are no anomalies in your data!\";\n","outputs":"1","x":343,"y":430,"z":"930e6ada.6cf198","wires":[["1f2c8e65.e0d372","dfcb7367.20349"]]},{"id":"57ef9e88.a8106","type":"ibmiot in","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Smart Transformer","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":116,"y":97,"z":"930e6ada.6cf198","wires":[["a0f18fa.f5f0e7"]]},{"id":"2409d185.dbf62e","type":"debug","name":"Formatted output","active":false,"console":"false","complete":"payload","x":761,"y":44,"z":"930e6ada.6cf198","wires":[]},{"id":"a0f18fa.f5f0e7","type":"function","name":"format data","func":"msg.payload =\n{\nTS : 'TIMESTAMP',\nTEMP : msg.payload.d.temp,\nHUMIDITY : msg.payload.d.humidity\n}\nreturn msg;  ","outputs":1,"x":326,"y":97,"z":"930e6ada.6cf198","wires":[["64cfeca.f9b3014"]]},{"id":"765c54bb.89a3ac","type":"dashDB out","service":"dashDB-lj","table":"IDUGIOTDEMO","name":"","x":766,"y":175,"z":"930e6ada.6cf198","wires":[]},{"id":"64cfeca.f9b3014","type":"trigger","op1":"1","op2":"0","op1type":"pay","op2type":"pay","duration":"10","extend":"false","units":"s","name":"","x":512,"y":106,"z":"930e6ada.6cf198","wires":[["2409d185.dbf62e","765c54bb.89a3ac"]]},{"id":"dfcb7367.20349","type":"twilio out","service":"_ext_","twilio":"","from":"","number":"","name":"Twilio","x":607,"y":554,"z":"930e6ada.6cf198","wires":[]}]