CandidatesApp/node-RED import files/CandidatesApp_Import_Sheet1.txt
[{"id":"ad4b3133.52b4d","type":"twitter in","twitter":"","tags":"Hillary Clinton","user":"false","name":"","topic":"tweets","x":131.00003051757812,"y":96,"z":"3f42a16.fc0bd5e","wires":[["f950f5a9.06af08"]]},{"id":"f950f5a9.06af08","type":"sentiment","name":"Sentiment","x":315,"y":96.00001525878906,"z":"3f42a16.fc0bd5e","wires":[["300cee11.cff312","98666a58.679998"]]},{"id":"300cee11.cff312","type":"debug","name":"","active":false,"console":"false","complete":"true","x":518,"y":49.00001525878906,"z":"3f42a16.fc0bd5e","wires":[]},{"id":"31bfbf8c.ce404","type":"sqldb out","service":"","table":"HILLARYCLINTON","name":"","x":769,"y":66,"z":"3f42a16.fc0bd5e","wires":[]},{"id":"a74ad6b7.58b528","type":"twitter in","twitter":"","tags":"Jeb Bush","user":"false","name":"","topic":"tweets","x":131.79998779296875,"y":251.8000030517578,"z":"3f42a16.fc0bd5e","wires":[["2b7b6d1c.d48492"]]},{"id":"2b7b6d1c.d48492","type":"sentiment","name":"Sentiment","x":305.8000183105469,"y":251.79998779296875,"z":"3f42a16.fc0bd5e","wires":[["d036ce1f.2fc93","a24a52a8.5db5b"]]},{"id":"7ee0f99b.811f08","type":"sqldb out","service":"","table":"JEBBUSH","name":"","x":716.7999877929688,"y":250.80001831054688,"z":"3f42a16.fc0bd5e","wires":[]},{"id":"d036ce1f.2fc93","type":"sqldb in","service":"","query":"select count(*) as bettertweets from jebbush  where sentiment >= ?","params":"msg.sentiment.score","name":"","x":251.79998779296875,"y":388.79998779296875,"z":"3f42a16.fc0bd5e","wires":[["2cfe9236.d3016e","f1955d2e.0e6aa"]]},{"id":"ae2496a.f51db68","type":"template","name":"Alert template","field":"payload","template":"New top tweet received: \"{{tweet.text}}\" with a sentiment score of {{sentiment.score}}","x":698.7999877929688,"y":388.79998779296875,"z":"3f42a16.fc0bd5e","wires":[["930008ec.6cfff8"]]},{"id":"930008ec.6cfff8","type":"debug","name":"ALERT","active":true,"console":"false","complete":"payload","x":709.7999877929688,"y":484.79998779296875,"z":"3f42a16.fc0bd5e","wires":[]},{"id":"2cfe9236.d3016e","type":"debug","name":"","active":true,"console":"true","complete":"true","x":446.79998779296875,"y":475.79998779296875,"z":"3f42a16.fc0bd5e","wires":[]},{"id":"f1955d2e.0e6aa","type":"switch","name":"Check if top tweet","property":"payload.BETTERTWEETS","rules":[{"t":"eq","v":0,"v2":0}],"checkall":"true","outputs":1,"x":472.79998779296875,"y":389.79998779296875,"z":"3f42a16.fc0bd5e","wires":[["ae2496a.f51db68"]]},{"id":"98666a58.679998","type":"function","name":"Format Data","func":"msg.payload = \n{\n  SCREENNAME : msg.tweet.user.screen_name,\n  TWEET : msg.payload,\n  SENTIMENT : msg.sentiment.score,\n  LOCATION : msg.tweet.user.location,\n  TS : 'TIMESTAMP'\n}\nreturn msg;","outputs":1,"valid":true,"x":532.7999877929688,"y":155.4595947265625,"z":"3f42a16.fc0bd5e","wires":[["31bfbf8c.ce404","65a9306b.9a56d"]]},{"id":"a24a52a8.5db5b","type":"function","name":"Format Data","func":"msg.payload = \n{\n  SCREENNAME : msg.tweet.user.screen_name,\n  TWEET : msg.payload,\n  SENTIMENT : msg.sentiment.score,\n  LOCATION : msg.tweet.user.location,\n  TS : 'TIMESTAMP'\n}\nreturn msg;","outputs":1,"valid":true,"x":508.79998779296875,"y":251.39205932617188,"z":"3f42a16.fc0bd5e","wires":[["7ee0f99b.811f08"]]},{"id":"65a9306b.9a56d","type":"debug","name":"View Data","active":true,"console":"false","complete":"payload","x":750,"y":155,"z":"3f42a16.fc0bd5e","wires":[]}]